<!-- Section Two
section_title: str
section_body: str
-->
<section id="second" class="main">
  <header>
    <div class="container">
      <h2>{{ include.section.title }}</h2>
      <p>{{ include.section_body }}</p>
    </div>
  </header>
  <div class="content dark style2">
    <div class="container">
      <div class="row">
        <div class="col-4 col-12-narrow">
          <section>
            <h3>{{ include.sidebar_title }}</h3>
            <p>{{ include.sidebar_body }}</p>
            <footer>
              <a href="{{ include.cta_link }}" class="button scrolly">{{ include.cta_text }}</a>
            </footer>
          </section>
        </div>
        <div class="col-8 col-12-narrow">
          <div class="row">
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
            <div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

