<section id="third" class="main">
  <header>
    <div class="container">
      <h2>{{ page.header.title }}</h2>
      <p>{{ page.header.body }}</p>
    </div>
  </header>
  <div class="content dark style3">
    <div class="container">
      <span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
      <div class="row">
        {% assign content_body = page.content | split: " " %}
        {% assign length = content_body | size %}
        {% assign part_length = length | divided_by: 3 %}
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: 0, part_length | join: " " | markdownify }}
        </div>
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: part_length, part_length | join: " " | markdownify }}
        </div>
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: part_length * 2, part_length | join: " " | markdownify }}
          <footer>
            <a href="{{ page.cta.link }}" class="button scrolly">{{ page.cta.text }}</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

