{% if page.section-id %}
{% assign section-id = page.section-id %}
{% else %}
{% assign section-id = page.title %}
{% endif %}
<section id="{{ section-id }}" class="main">
  {% if page.header %}
  <header>
    <div class="container">
      <h2>{{ page.header.title }}</h2>
      <p>{{ page.header.body }}</p>
    </div>
  </header>
  {% endif %}
  {% assign style = style1 %}
  {% if page.style %}
  {% assign style = page.style %}
  {% endif %}
  <div class="content dark {{ style }} featured">
    {% assign content_split = page.content | markdown_split %}
    <div class="container">
      <div class="row">
        {% for i in (0..2) %}
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon solid fa-solid {% if page.icons[i]
              %}{{ page.icons[i].icon }}{% else %}fa-clock{% endif %}"></span></span>
            {% if page.icons[i].title %}
            <header>
              <h3>{{ page.icons[i].title }}</h3>
            </header>
            {% endif %}
            <div>{{ content_split[i] | markdownify }}</div>
          </section>
        </div>
        {% endfor %}
        {% if page.cta %}
        <div class="col-12">
          <footer>
            <a href="{{ page.cta.link }}" class="button scrolly">{{ page.cta.text }}</a>
          </footer>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

