<section id="first" class="main">
  {% if page.header %}
  <header>
    <div class="container">
      <h2>{{ page.header.title }}</h2>
      <p>{{ page.header.body }}</p>
    </div>
  </header>
  {% endif %}
  <div class="content dark style1 featured">
    {% assign content_split = page.content | split: "---" %}
    <div>{{ content_split[0] | strip_html }}</div>
    <div class="container">
      <div class="row">
        {% for column in (1..3) %}
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon {% if page.icon_one
              %}{{ page.icon_one }}{% else %}fa-clock{% endif %}"></span></span>
            <header>
              <h3>{{ page.title_one }}</h3>
            </header>
            <div>{{ content }}</div>
          </section>
        </div>
        {% endfor %}
        <!--
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
            <header>
              <h3>Vivamus</h3>
            </header>
            <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
            Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
            ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
            accumsan vivamus.</p>
          </section>
        </div>
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
            <header>
              <h3>Accumsan</h3>
            </header>
            <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
            Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
            ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
            accumsan vivamus.</p>
          </section>
        </div>
-->
        <div class="col-12">
          <footer>
            <a href="#second" class="button scrolly">Gravida tempor lacinia</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

