{% if page.section-id %}
{% assign section-id = page.section-id %}
{% else %}
{% assign section-id = page.title %}
{% endif %}
<section id="{{ section-id }}" class="main">
  {% if page.header %}
  <header>
    <div class="container">
      <h2>{{ page.header.title }}</h2>
      <p>{{ page.header.body }}</p>
    </div>
  </header>
  {% endif %}
  {% if page.style %}
  {% assign style = page.style %}
  {% else %}
  {% assign style = style3 %}
  {% endif %}
  <div class="content dark {{ style }}">
    <div class="container">
      {% if page.image %}
      <span class="image featured"><img src="{{ page.image }}" alt="" /></span>
      {% endif %}
      <div class="row">
        {% assign content_paragraphs = page.content | paragraph_split: 3 %}
        {% for paragraph in content_paragraphs %}
        <div class="col-4 col-12-narrow">
          {{ paragraph | markdownify }}
        </div>
        {% endfor %}

        {% comment %}
        {% assign content_body = page.content | split: " " %}
        {% assign length = content_body | size %}
        {% assign part_length = length | divided_by: 3 %}
        {% assign part_length_double = part_length | times: 2 %}
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: 0, part_length | join: " " | markdownify }}
        </div>
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: part_length, part_length | join: " " | markdownify }}
        </div>
        <div class="col-4 col-12-narrow">
          {{ content_body | slice: part_length_double, part_length | join: " " | markdownify }}
        </div>
        {% endcomment %}
        {% if page.cta %}
        <footer>
          <a href="{{ page.cta.link }}" class="button scrolly">{{ page.cta.text }}</a>
        </footer>
        {% endif %}
      </div>
    </div>
  </div>
</section>

